* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

 body {
    background-color: #0f131c;
    height: 100vh;
}

.navbar{
    padding: .25rem;
    margin-bottom: 1rem;
}

.nav-link{
    font-size: 20px;
}
.hidden {
    display: none;
} 

.movie-info{
    display: block;
}

.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}

.flex {
    display: flex;
}

.sort-buttons{
    --gap: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: calc(-1 * var(--gap));
    margin-left: calc(-1 * var(--gap));

}

.sort-buttons button{
    margin-bottom: var(--gap);
    margin-left: var(--gap);
}

.button {
    display: flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:hover {
    background: #008168;
  }
  
  .button:active {
    background: #006e58;
  }
  
  .button__text,
  .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  
  .button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }
  
  .button-container{
      display: flex;
      justify-content: center;
  } 


.pagination{
    background-color: #0f131c;
}
.paginate-nav {
    background-color: #0f131c;
}


/* Movie styles */

img {
    border-radius: 5%;
}
  
.similar {
    color: #cecbcb;
}

.box{
    display: block;
}

  .wrapper-grid {
    display: grid;
    border-radius: .5%;
    grid-template-columns: repeat(auto-fit, 13rem);
    justify-content: center;
    margin-top: 2rem;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2rem;
  }
  
  .container {
    overflow: hidden;
    text-align: center;
    border-radius: 1rem;
    position: absolute;
    margin: 0.5rem;
  }  

  .name {
    font-family: Arial;
    font-weight: 520;
    color: #e6e6e6;
    font-size: 1rem;
    margin-top: 3%
  }

.delete-favorite{
    position: relative;
    float: right;
    top: 22px;
    right: -13px;
    outline: none;
    background: transparent;
    border: none;
}

.fa {
    color: rgb(248, 37, 37);
    font-size: 25px;
    background-color: rgb(32, 32, 32);
    border-radius: 50%;
}

.fa:hover{
    color: rgb(240, 72, 72)
}
  

/* similar movies styles */

 .container{
    display:flexbox;
    position: relative;
    width: auto;
    margin-left: 5%;
}


.carousel {
    height: 250px;
    width: 80%;
    position: relative;
    align-items: center;
    margin-left: 10%;
  }  

.switchLeft,
.switchRight {
  color: #EBEBEB;
  font-weight: bold;
  /* height: 100%; */
  width: 45px;
  line-height: 250px;
  border: none;
  font-size: 25px;
  text-align: center;
  background-color: #0f131c;
  font-family: sans-serif;
  top: 0;
}

.carousel .switchLeft {
  position: absolute;
  left: -50px;
}

.carousel .switchRight {
  position: absolute;

  right: -50px;
}
.carouselbox {
    height: 250px;
    width: auto;
    overflow: scroll;
    /* overflow-x: auto; */
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
  } 
  
  .carouselbox img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    margin: 5px 5px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
  
    margin: 15px;
  } 
  
  .carouselbox img:hover {
    transform: scale(1.2);
    z-index: 3;
  }  


.similar{
    text-align: center;
}

.jumbotron{
    padding: 0px;
    margin: 5%;
}


.abc{
    max-width: 700px;
    text-align: center;
    margin: 0
}

.movie-props{
    list-style-type: none;
}

.no-results {
    text-align: center;
    color: seashell;
    font-size: 40px;
    font-weight: bold;
}

.page-dark{
  background-color: rgb(51, 50, 49);
  border: 1px solid white;
  color: white
}

.current {
  background-color: #0275d8;
  border: 1px solid white;
  color: white
}

.disable{
  pointer-events: none;
}
