{% extends 'base.html' %}

{% block title %} Upcoming {% endblock%}

{% block content%}
<div class="sort-buttons">
    <a href="/"><button class=" btn btn-success">Popular</button></a>
    <a href="/top_rated"><button class="btn btn-success">Top Rated</button></a>
</div>

<div class="wrapper-grid">
    {% for movie in upcoming_movies %}
    <div class="container">
        <a href="/movie/{{movie.id}}">
            {% if movie.poster_path == None%}
            <img class="rounded" src="/static/images/default_img.png" alt="">
            {% else %}
            <img src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}">
            {% endif %}
            <h1 class="name">{{movie.title}}</h1>
        </a>
    </div>
    {% endfor %}
</div>

<!-- Pagination -->
<nav class="paginate-nav">
    <ul class="pagination justify-content-center ">
        {% if page == 1 %}
        <li class="hidden">
            {% else %}
        <li class="page-item">
            {% endif %}
            <a class="page-link page-dark" href="{{url_for('show_upcoming')}}">First</a>
        </li>
        {% if page - 1 == 0 %}
        <li class="page-item disable">
            <span class="page-link page-dark" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link page-dark" href="/upcoming/{{page - 1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% if page < total_pages %}
        {% if page == total_pages - 1%}
        <li class="page-item"><a class="page-link page-dark" href="/upcoming/{{total_pages-2}}">{{total_pages-2}}</a>
        </li>
        <li class="page-item"><a class="page-link current" href="/upcoming/{{total_pages-1}}">{{total_pages-1}}</a>
        </li>
        <li class="page-item"><a class="page-link page-dark" href="/upcoming/{{total_pages}}">{{total_pages}}</a></li>
        {% else %}
        {% for i in range(page,page + 3) %}
        {% if i == page %}
        <li class="page-item"><a class="page-link current" href="/upcoming/{{i}}">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link page-dark" href="/upcoming/{{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endif %}

        {% if page == total_pages %}
        <li class="page-item"><a class="page-link page-dark" href="/upcoming/{{total_pages-2}}">{{total_pages-2}}</a>
        </li>
        <li class="page-item"><a class="page-link page-dark" href="/upcoming/{{total_pages-1}}">{{total_pages-1}}</a>
        </li>
        <li class="page-item"><a class="page-link current" href="/upcoming/{{total_pages}}">{{total_pages}}</a></li>
        <li class="page-item disable">
            <a class="page-link page-dark" href="/upcoming/{{page + 1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="hidden">
            <a class="page-link page-dark" href="/upcoming/{{total_pages}}">Last</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link page-dark" href="/upcoming/{{page + 1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link page-dark" href="/upcoming/{{total_pages}}">Last</a>
        </li>
        {% endif%}
    </ul>
</nav>
{% endblock%}